{% extends "::base.html.twig" %}

{% block head_style %}
    {{ parent() }}
    
{% endblock %}

{% block title %}Formularz kontaktowy{% endblock %}

{% block body %}
    
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <form method="post" class="form-horizontal" novalidate="novalidate" >
        {{ form_errors(form) }}
        
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-default">Wyślij</button>
            </div>
        </div>
            
        {{ form_rest(form) }}
                    
    </form>
{% endblock %}
